body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-width: 500px;
    /* padding: 0; */
}
.header__links {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    /* background-color: black; */
    /* background-color:  #0E3E4D; */
    background-color:  #1f4f59;

}
.header__link {
    text-decoration: none;
    font-size: 1.2em;
    /* color: #f5deb3;
    color: #F5D3C8; */
    color: #fff;
    padding: 2px 5px;
    border-bottom: 2px solid transparent;
}
.header__link:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid;
}


.header__bg {
    margin-top: 50px;
    background-image: url(../img/header_bg-1.jpg);
    background-position: 50% 35%;
    background-size: cover;
    height: 350px;
}
.footer__bg {
    background-image: url(../img/footer_bg-2.jpg);
    background-position: 100% 92%;
    background-size: cover;
    height: 100px;
}
.game-section {
    min-width: 500px;
    margin: 50px 0;
}

.game {
    position: relative;
    margin: 0 auto;
    /* height: 51.5vw;
    width: 90vw; */
    height: 45.8vw;
    width: 80vw;
    max-width: 1050px;
    max-height: 600px;
    min-width: 500px;
    min-height: 300px;

    background: url(../img/game/carpet.png) center /contain no-repeat border-box;
}
@media (min-aspect-ratio: 8/5) and (max-height: 500px) {
    .game {
        /* height: 95vh;
        width: 166vh; */
        height: 80vh;
        width: 140vh;
    }
}

.game__cat--1 {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 45%;
    width: 55%;
    background: url(../img/game/happy-cat-b.png) center /contain no-repeat border-box;
}
.game__cat--2 {
    position: absolute;
    bottom: 2%;
    right: 1%;
    height: 54%;
    width: 35%;
    background: url(../img/game/happy-cat-d.png) center /contain no-repeat border-box;
}

.game__paw {
    position: absolute;
    z-index: 1;
    --time-round: 2s;
}
@keyframes pawdisappear {
    from {background-color: rgba(171, 139, 120, 0.6)}
    to {background-color: rgba(171, 139, 120, 0)}
}
.paw-animation {
    animation: pawdisappear var(--time-round) cubic-bezier(.83,0,.74,.79) ;
}
.game__paw--1 {
    top: 5%;
    left: 45%;
    height: 35%;
    width: 15%;
    border-radius: 75% 30%;
}
.game__paw--2 {
    bottom: 20%;
    right: 25%;
    height: 35%;
    width: 15%;
    border-radius: 50%;
}

/* @keyframes ballmove {
    from {left: var(--xStart); top: var(--yStart)}
    to {left: var(--xEnd); top: var(--yEnd)}
  } */
.game__ball {
    position: absolute;
    z-index: 2;
    bottom: 6rem;
    left: 2rem;
    height: 10vmin;
    width: 10vmin;
    background: url(../img/game/cat-ball.png) center /contain no-repeat border-box;
    border-radius: 50%;
    /* animation: ballmove 1s ease forwards; */
    --move-time: 0.5s;
    transition: left var(--move-time) ease, top var(--move-time) ease, transform var(--move-time);
}
.ball-move {
    left: var(--xEnd);
    top: var(--yEnd);
    /* transform: rotate(180deg); */
    transform: rotate(var(--degEnd));
}


.game__speech-box,
.game__score,
.game__finish {
/* .game__ok-btn { */
    position: absolute;
    border-radius: 10px;
    /* border: 2px solid black; */
    /* border: 2px solid #0E3E4D; */
    border: 2px solid #1f4f59;
    background: linear-gradient(#fff, rgba(255, 255, 255, 0.5));
    padding: 5px;
}
.game__speech-box,
.game__result {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game__speech-box {
    min-height: 50px;
}
.game__speech-box--1 {
    top: 30%;
    left: 16%;
    width: 23%;
}
.game__speech-box--2 {
    top: 75%;
    left: 60%;
    min-width: 23%;
}
.game__speech-box::before,
.game__speech-box::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}
.game__speech-box::before {
    top: calc(-5vmin - 4px);
    right: calc(10% - 2px);
    border-top: calc(2.5vmin + 2px) solid transparent;
    /* border-right: calc(1.5vmin + 2px) solid black; */
    /* border-right: calc(1.5vmin + 2px) solid #0E3E4D; */
    border-right: calc(1.5vmin + 2px) solid #1f4f59;
	/* border-bottom: calc(2.5vmin + 2px) solid black; */
    /* border-bottom: calc(2.5vmin + 2px) solid #0E3E4D; */
    border-bottom: calc(2.5vmin + 2px) solid #1f4f59;
	border-left: calc(1.5vmin + 2px) solid transparent;
}
.game__speech-box::after {
    top: calc(-5vmin + 1px);
    right: 10%;
    border-top: 2.5vmin solid transparent;
	border-right: 1.5vmin solid #fff;
	border-bottom: 2.5vmin solid #fff;
	border-left: 1.5vmin solid transparent;
}
.game__speech-box--2::before {
    top: calc(-3vmin - 4px);
    left: calc(55% - 2px);
    border-top: calc(1.5vmin + 2px) solid transparent;
    /* border-bottom: calc(1.5vmin + 2px) solid black; */
    /* border-bottom: calc(1.5vmin + 2px) solid #0E3E4D; */
    border-bottom: calc(1.5vmin + 2px) solid #1f4f59;
}
.game__speech-box--2::after {
    top: calc(-3vmin + 1px);
    left: 55%;
    border-top: 1.5vmin solid transparent;
	border-bottom: 1.5vmin solid #fff;
}

.game__score {
    bottom: 0;
    font-size: 2rem;
    margin: 2vmin;
}
.score__value {
    display: inline-block;
    width: 2ch;
    text-align: center;
}

.game__finish {
    width: 45%;
    height: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 3;
}
.game__result {
    height: 70%;
    font-size: 1.8rem;
}
/* .game__ok-btn:hover {
    background:linear-gradient(to bottom, #f6f6f6 25%, #bab1ba 100%);
} */

.button {
    border-radius: 10px;
    /* border: 2px solid black; */
    /* border: 2px solid#0E3E4D; */
    border: 2px solid#1f4f59;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}
.button:hover {
    /* background:linear-gradient(to bottom, #f6f6f6 25%, #bab1ba 100%); */
    background: linear-gradient(to bottom, #f6f6f6 15%, #bab1ba , #f6f6f6 95%);
}

.game__ok-btn {
    /* position: static; */
    padding: 1.5vmin;
}





.display-none {
    display: none;
}
.hidden {
    visibility: hidden;
}