/* * {
    margin: 0;
    padding: 0;
} */

/* .shop {
    display: flex;
    flex-direction: row;
}
.aside {
    width: 250px;
} */
ul, li {
    list-style-type:none;
    padding-left: 0;
    /* margin: 0; */
}
.hidden {
    display: none;
}
.header {
    height: 50px;
}
.shop {
    display: grid;
    grid-template-columns: 250px 1fr;
}
.catalog__content {
    max-width: 930px;
    margin: 20px auto;
    /* width: 100vw; */
    /* padding: 10px; */
    /* box-sizing: border-box; */
    display: grid;
    /* grid-template-columns: repeat(3, minmax(auto, 33%));
    gap: 0.5%; */
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: calc(300px + 100px);
    gap: 15px;
}
.goods__picture-wrapper {
    position: relative;
    height: 300px;
}

@media (max-width: 930px) {
    .catalog__content {
        grid-template-columns: repeat(3, 33vw);
        grid-auto-rows: minmax(auto, calc(33vw + 100px));
        gap: 0.5vw;
    }
    .goods__picture-wrapper {
        height: 33vw;
    }
}
.goods__id {
    display: none;
}
.goods__picture-owner {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3%;
    padding: 2%;
    background-color: rgba(255, 255, 240, 0.5);
    border-radius: 0.4em 0 0 0.4em;
    color: black;
    font-size: 12px;
}

.goods__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* <div class="goods__picture-wrapper">
    <img class="goods__picture-img" src="...">
    <img class="goods__picture-img" src="...">
</div> */

.goods__picture-img:not(:first-child) {
    display: none;
}
.goods__picture-wrapper:hover .goods__picture-img:nth-child(2) {
    display: initial;
}
.goods__picture-wrapper:hover .goods__picture-img:not(:nth-child(2)) {
    display: none;
}
.purchase {
    display: flex;
    justify-content: space-between;
}
/* .aside-part__filter {
    padding: 10px;
} */
.filter__group {
    border: 0.1px solid;
    padding: 10px;
    padding-left: 35px;
    text-indent: -25px;
}
.filter__group-name {
    font-size: 1.15em;
}
.filter__group-list {
    margin-top: 5px;
}
.filter-letter {
    color: #666;
}


.aside-part__letter {
    background-color: #faf0e7;
    font-weight: bold;
    padding: 4px 0;
}
.aside-part__list {
    display: none;
    background-color: #fdf7ee;
    font-weight: normal;
    /* padding: 0 10px ; */
}
.aside__aside-part {
    font-size: 1.2em;
    cursor: pointer;
}
.aside-part__checkbox, .aside-part__label {
    cursor: pointer;
}
.aside-part__label--all-item,
.aside-part__item--all {
    cursor: default; 
}
.aside-part__label--all-item{
    padding: 0 10px;
    font-size: 1em;
    color: grey;
}

.aside-part__label {
    display: inline-block;
}
.aside-part__link {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
.aside-part__letter:hover > .aside-part__link {
    color: red;
}
.aside-part__item:hover {
    border: 0.1px solid #bf8b55;
}
/* .aside-part__letter, */
.aside-part__item,
.aside-part__item--all:hover {
    border: 0.1px solid transparent;
}
/* .aside-part__letter:hover,
.aside-part__item:hover {
    border: 0.1px solid #bf8b55;
} */